footer {text-align: right; padding-right: 25px;clear: both;}
#email {max-height: 25px; padding: 3px;}
#behance {max-height: 25px; padding: 3px;}
#facebook {max-height: 25px; padding: 3px;}
#instagram {max-height: 25px; padding: 3px;}

