/* #logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

h1 a img:hover{
	content: url("logo2.jpg");
}
/*
nav ul{

		display: -webkit-flex;/*define a flex box*//* 
		display: flex;
		text-align: center;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;	
		justify-content: space-around;
		list-style-type: none;
		margin-left: 20%;
		margin-right: 20%;

}
nav ul li{

		flex-basis: 90px;
		flex-grow: 1;

}
*/
nav a{
		text-decoration: none;
		color: black;
}
nav ul li:hover {
		background-color: skyblue;
		color: white;

}
nav ul{list-style-type: none;}
nav ul li{width: 8%;}
.leftcol {
	float: left;
	width: 20%;
}
.rightcol {
	float: right;
	width: 75%;
}


footer {float: clear;}