/* #logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

h1 a img:hover{
	content: url("logo2.jpg");
}
/*
nav ul{

		display: -webkit-flex;/*define a flex box*//* 
		display: flex;
		text-align: center;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;	
		justify-content: space-around;
		list-style-type: none;
		margin-left: 20%;
		margin-right: 20%;

}
nav ul li{

		flex-basis: 90px;
		flex-grow: 1;

}
*/
nav a{
		text-decoration: none;
		color: black;
}
nav ul li:hover {
		background-color: skyblue;
		color: white;

}
nav ul{list-style-type: none;}
h1,h1 *{
	margin-block-start: 0px;
    margin-block-end: 0px;
}

#logo{
	height:200px;
	width:159px !important;
}


/* ===============================
Mobile Styles: 0px to 480px
===============================
*/
@media only screen and (max-width: 480px) {
	#contacts{
		display: none;
	}
	.leftcol{
		width: 100%;
	}	
	.rightcol img{
		max-width: 100%;
	}
	nav ul{
		display: none;
	}
	#navicon:hover+ul, nav ul:hover{
        display: block;
    }
}
/* ================================
Tablet & Desktop Styles: 481px and greater
================================
*/
@media only screen and (min-width: 481px) {
	.leftcol {
		float: left;
		width: 20%;
	}
	.rightcol {
		padding-top: 100px;
		float: right;
		width: 75%;
	}
	#contacts{
		padding-left: 20px;
	}
	#navicon{
		display: none;
	}

}